<!-- Load Tags -->
{% extends "base.html" %} {% block content %}
<!-- Content -->
<div class="container-fluid ml-2 mt-3">
    <div class="row custom-margin">
        <div class="col-xs-12 col-sm-6">
            <form method="post" class="accountform">
                <h4 class="mt-1">Reset Password</h4>
                <p class="mt-1">Please enter your email address and we will send you a link to change your password.</p>
                <br>
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.email.errors }}
                <p><label for="id_email" class="control-label required-field mt-1">E-mail Address:</label> {{ form.email }} <input type="submit" class="btn btn-sm btn-primary mt-3" value="Reset Password" /></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
