html, body { 
  background: url(../img/alien.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*Navbar*/
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 6rem;
}

.navbar {
    margin-bottom: 6rem; 
    }

/*Forms*/
.accountform {
    padding-top: 20px;
}
